{% extends 'wsite/base.html'%}
{% load static %}


{% block content %}


   <body>

      <!--about section start -->
      <div class="about_section layout_padding">
         <div class="container">
            <h1 class="about_taital">About Us</h1>
            {% for about in abouts %}
            <p class="about_text">{{ about.title }}</p>
                  <div class=".col-9">
                     <div><br><br><br><br>
                        <p class="lorem_text">{{ about.text }} </p>
                     </div>
                  </div>
               {% endfor %}

         </div>
      </div>

   </body>
</html>
{% endblock %}