{% extends 'wsite/base.html'%}
{% load static %}


{% block content %}

<html>
   <body>

     <div class="services_section layout_padding">
         <div class="container">
            <h1 class="services_taital">Services</h1>

            <div class="services_section_2">
               <div class="row">


                  <div class=".col-9">
                     <div class="icon_box">
                        <div class="icon_1"><img src="{% static 'images/icon-1.png' %}"></div>
                        {% for service in services %}
                           </div>
                           <h4 class="selection_text">{{ service.title }}</h4>
                           <p class="ipsum_text">{{ service.text }}</p>
                       {% endfor %}
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>

{% endblock %}